* {
	box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
}

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	font-family: sans-serif;
	background-color: #222222;
	color: #ccc;
	position: relative;
}

a {
	color: #92A8D1;
	text-decoration: none;
	border-bottom: 1px dotted;
}

a:hover {
	color: #f57d2d;
}

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

.center {
	text-align: center;
}

div.wrapper {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-top: -25px;
}

section#content a.logo {
	border-style: none;
}

section#content img.logo {
	width: 380px;
	height: 122px;
	margin: 0 auto;
	display: block;
}

section#content {
	margin-top: 10px;
}

section#content h1 {
	margin: 50px 0;
	text-align: center;
	font-weight: 300;
	color: #8C8C8C;
}

section#content p {
	margin: 50px 0;
	color: #8C8C8C;
}

footer {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 10px;
}

footer p {
	margin: 0;
	padding: 0;
	font-weight: 300;
}

footer p a {
	color: #ccc;
}
